@using System
@model System.Collections.Generic.IEnumerable<MusicCatalogueWebApp.Data.Models.Recording>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumArtist)
        </td>
        <td>
            @if (item.Type == MusicCatalogueWebApp.Data.Models.RecordingType.Live)
            {
                @Html.DisplayFor(modelItem => item.RecordingDate);
            }
            else
            {
                @String.Format("{0:yyyy}", item.RecordingDate);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Media)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecordingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecordingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecordingId })
        </td>
    </tr>
}

</table>
